In [27]:
import requests
import json

In [28]:
# GENERAR FICHEROS CIUDADES Y PAISES

# Datos de las ciudades
ciudades = [
    {"Id_ciudad": 1, "id_pais": 1, "nombre": "Madrid", "coordenadas": {"latitud": 40.4168, "longitud": -3.7038}},
    {"Id_ciudad": 2, "id_pais": 1, "nombre": "Valencia", "coordenadas": {"latitud": 39.4699, "longitud": -0.3763}},
    {"Id_ciudad": 3, "id_pais": 1, "nombre": "Sevilla", "coordenadas": {"latitud": 37.3891, "longitud": -5.9845}},
    {"Id_ciudad": 4, "id_pais": 2, "nombre": "Paris", "coordenadas": {"latitud": 48.8566, "longitud": 2.3522}},
    {"Id_ciudad": 5, "id_pais": 2, "nombre": "Marsella", "coordenadas": {"latitud": 43.2965, "longitud": 5.3698}},
    {"Id_ciudad": 6, "id_pais": 3, "nombre": "Roma", "coordenadas": {"latitud": 41.9028, "longitud": 12.4964}},
    {"Id_ciudad": 7, "id_pais": 3, "nombre": "Milan", "coordenadas": {"latitud": 45.4642, "longitud": 9.19}},
    {"Id_ciudad": 8, "id_pais": 3, "nombre": "Napoles", "coordenadas": {"latitud": 40.8518, "longitud": 14.2681}}
]

# Datos de los países
paises = [
    {"id_pais": 1, "nombre": "España"},
    {"id_pais": 2, "nombre": "Francia"},
    {"id_pais": 3, "nombre": "Italia"}
]

# Guardar datos de ciudades en un archivo JSON
with open('ciudades.json', 'w') as file_ciudades:
    json.dump(ciudades, file_ciudades, indent=4)

# Guardar datos de países en un archivo JSON
with open('paises.json', 'w') as file_paises:
    json.dump(paises, file_paises, indent=4)

print("Archivos JSON generados exitosamente.")

Archivos JSON generados exitosamente.

In [29]:
import requests
from datetime import datetime, timedelta

# Definir la fecha inicial y final
fecha_inicial = datetime(2020, 5, 1)
fecha_final = datetime(2020, 9, 1)

# Lista para almacenar los datos
datos_totales = []

# Iterar sobre las fechas desde la inicial hasta la final
fecha_actual = fecha_inicial
while fecha_actual <= fecha_final:
    # Formatear la fecha para la solicitud actual
    fecha_formateada = fecha_actual.strftime("%Y%m%d")

    # Definir la URL de la API para la fecha actual en el formato requerido
    url = f'https://api.covidtracking.com/v1/us/{fecha_formateada}.json'

    try:
        # Realizar la solicitud GET a la API
        response = requests.get(url)

        # Verificar si la solicitud fue exitosa
        if response.status_code == 200:
            # Agregar los datos a la lista
            datos_totales.append(response.json())
        else:
            print(f"Error al obtener datos de la API para {fecha_formateada}. Código de estado:", response.status_code)
            print("Contenido de la respuesta:", response.text)
    except requests.exceptions.RequestException as e:
        print("Error de conexión:", e)

    # Incrementar la fecha actual para la próxima iteración
    fecha_actual += timedelta(days=1)

# Guardar todos los datos en un archivo JSON
with open('datos_totales.json', 'w') as file:
    file.write("[")
    # Escribir los datos en el archivo JSON separados por comas
    for i, datos in enumerate(datos_totales):
        if i > 0:
            file.write(",\n")
        json.dump(datos, file)
    file.write("]")

In [30]:
# GENERAR FICHERO CON MULTIPLICADORES

# Cargar los datos de los archivos JSON
with open("ciudades.json", "r") as file:
    ciudades = json.load(file)

with open("paises.json", "r") as file:
    paises = json.load(file)

with open("datos_totales.json", "r") as file:
    datos_covid = json.load(file)

# Crear un diccionario de ciudades con sus IDs
ciudades_dict = {ciudad["Id_ciudad"]: ciudad for ciudad in ciudades}

# Crear un diccionario de países con sus IDs
paises_dict = {pais["id_pais"]: pais["nombre"] for pais in paises}

# Multiplicadores para los datos numéricos (excepto para el primer registro)
multiplicadores = {ciudad_id: i + 2 for i, ciudad_id in enumerate(ciudades_dict.keys())}

# Procesar los datos para cada registro de COVID-19
registros_ciudades = []
for registro in datos_covid:
    for ciudad_id, ciudad_data in ciudades_dict.items():
        registro_covid_copy = registro.copy()
        registro_covid_copy["nombre_ciudad"] = ciudad_data["nombre"]
        registro_covid_copy["nombre_pais"] = paises_dict[ciudad_data["id_pais"]]
        # Aplicar el multiplicador al registro correspondiente
        if ciudad_data["Id_ciudad"] != 1:  # Excepto para el primer registro
            multiplicador = multiplicadores[ciudad_data["Id_ciudad"]]
            for key, value in registro_covid_copy.items():
                if key != "date" and isinstance(value, (int, float)):
                    registro_covid_copy[key] = value * multiplicador
        registros_ciudades.append(registro_covid_copy)

# Guardar los registros procesados en un nuevo archivo JSON
with open("registros_ciudades_con_multiplicador.json", "w") as file:
    json.dump(registros_ciudades, file, indent=4)

print("Se han creado registros individuales para cada ciudad con multiplicadores, y se han guardado en un nuevo archivo JSON.")

Se han creado registros individuales para cada ciudad con multiplicadores diferentes aplicados a los datos numéricos, excluyendo el campo 'date', y se han guardado en un nuevo archivo JSON.

In [31]:
import pandas as pd

pd.options.display.max_columns = 50

df = pd.read_json("registros_ciudades_con_multiplicador.json")

# Convertir el campo 'date' en formato de fecha
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# Crear campos nuevos para día, mes y año
df['dia'] = df['date'].dt.day
df['mes'] = df['date'].dt.month
df['año'] = df['date'].dt.year

df['mes'] = df['mes'].apply(lambda x: str(x).zfill(2))
df['dia'] = df['dia'].apply(lambda x: str(x).zfill(2))

df['parametro'] = 1
# Mostrar el DataFrame con los cambios
df

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,dateChecked,death,hospitalized,totalTestResults,lastModified,recovered,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash,nombre_ciudad,nombre_pais,dia,mes,año,parametro
0,2020-05-01,56,1106124,2410267,1496,54888,54154,13572,4300,4712,376,2020-05-01T24:00:00Z,61458,54154,6971878,2020-05-01T24:00:00Z,NaN,0,0,1812,9055,106658,32880,285664,080bbc8fa542224aa52356324b6001740c977219,Madrid,España,01,05,2020,1
1,2020-05-01,168,3318372,7230801,4488,164664,162462,40716,12900,14136,1128,2020-05-01T24:00:00Z,184374,162462,20915634,2020-05-01T24:00:00Z,NaN,0,0,5436,27165,319974,98640,856992,080bbc8fa542224aa52356324b6001740c977219,Valencia,España,01,05,2020,1
2,2020-05-01,224,4424496,9641068,5984,219552,216616,54288,17200,18848,1504,2020-05-01T24:00:00Z,245832,216616,27887512,2020-05-01T24:00:00Z,NaN,0,0,7248,36220,426632,131520,1142656,080bbc8fa542224aa52356324b6001740c977219,Sevilla,España,01,05,2020,1
3,2020-05-01,280,5530620,12051335,7480,274440,270770,67860,21500,23560,1880,2020-05-01T24:00:00Z,307290,270770,34859390,2020-05-01T24:00:00Z,NaN,0,0,9060,45275,533290,164400,1428320,080bbc8fa542224aa52356324b6001740c977219,Paris,Francia,01,05,2020,1
4,2020-05-01,336,6636744,14461602,8976,329328,324924,81432,25800,28272,2256,2020-05-01T24:00:00Z,368748,324924,41831268,2020-05-01T24:00:00Z,NaN,0,0,10872,54330,639948,197280,1713984,080bbc8fa542224aa52356324b6001740c977219,Marsella,Francia,01,05,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,2020-09-01,280,30113405,136239110,33235,176690,1379400,35420,88275,10205,9510,2020-09-01T24:00:00Z,883825,1379400,435227310,2020-09-01T24:00:00Z,NaN,0,0,5070,9335,896050,211210,3982650,8e46bd9281b3d1330efc5e212f58c7827cb56322,Paris,Francia,01,09,2020,1
988,2020-09-01,336,36136086,163486932,39882,212028,1655280,42504,105930,12246,11412,2020-09-01T24:00:00Z,1060590,1655280,522272772,2020-09-01T24:00:00Z,NaN,0,0,6084,11202,1075260,253452,4779180,8e46bd9281b3d1330efc5e212f58c7827cb56322,Marsella,Francia,01,09,2020,1
989,2020-09-01,392,42158767,190734754,46529,247366,1931160,49588,123585,14287,13314,2020-09-01T24:00:00Z,1237355,1931160,609318234,2020-09-01T24:00:00Z,NaN,0,0,7098,13069,1254470,295694,5575710,8e46bd9281b3d1330efc5e212f58c7827cb56322,Roma,Italia,01,09,2020,1
990,2020-09-01,448,48181448,217982576,53176,282704,2207040,56672,141240,16328,15216,2020-09-01T24:00:00Z,1414120,2207040,696363696,2020-09-01T24:00:00Z,NaN,0,0,8112,14936,1433680,337936,6372240,8e46bd9281b3d1330efc5e212f58c7827cb56322,Milan,Italia,01,09,2020,1
991,2020-09-01,504,54204129,245230398,59823,318042,2482920,63756,158895,18369,17118,2020-09-01T24:00:00Z,1590885,2482920,783409158,2020-09-01T24:00:00Z,NaN,0,0,9126,16803,1612890,380178,7168770,8e46bd9281b3d1330efc5e212f58c7827cb56322,Napoles,Italia,01,09,2020,1

In [32]:
import os
# Guardar el DataFrame en formato Parquet y organizar en carpetas por país y ciudad
for _, row in df.iterrows():
    country = row['nombre_pais']
    city = row['nombre_ciudad']
    folder_path = f"datos_parquet/{country}/{city}"
    file_name = f"{row['año']}-{row['mes']}-{row['dia']}.parquet"
    full_path = f"{folder_path}/{file_name}"
    
    # Crear la carpeta si no existe
    os.makedirs(folder_path, exist_ok=True)
    
    # Guardar el archivo Parquet
    row.to_frame().T.to_parquet(full_path, index=False)

print("Archivos Parquet guardados en carpetas por país y ciudad.")

Archivos Parquet guardados en carpetas por país y ciudad.

In [33]:
import pandas as pd
from sqlalchemy import create_engine

# Conexión a la base de datos MySQL
engine = create_engine('mysql+mysqlconnector://root:root@localhost/practica_covid')

# Leer los archivos Parquet
df_parquet = pd.read_parquet('./datos_parquet')

# Leer los archivos JSON
df_ciudades = pd.read_json('ciudades.json')
df_paises = pd.read_json('paises.json')

# Extraer las coordenadas de latitud y longitud
df_ciudades['latitud'] = df_ciudades['coordenadas'].apply(lambda x: x['latitud'])
df_ciudades['longitud'] = df_ciudades['coordenadas'].apply(lambda x: x['longitud'])

# Eliminar la columna 'coordenadas' si ya no es necesaria
df_ciudades.drop('coordenadas', axis=1, inplace=True)

# Guardar los datos en la base de datos
df_ciudades.to_sql('ciudades', con=engine, if_exists='append', index=False)
df_parquet.to_sql('datos_covid', con=engine, if_exists='append', index=False)
df_paises.to_sql('paises', con=engine, if_exists='append', index=False)

# Cerrar la conexión
engine.dispose()